################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ml-base-model-for-drag-and-srp/FileContentIndex
/.vs
/src/__pycache__
/validation/__pycache__
/core/__pycache__
/__pycache__
/OneDrive_1_15-9-2025/__pycache__
/models/__pycache__
/results/old data
/results/optimization/align_data_1000_sample_2000
/results/optimization/align_data_1000_sample_20000
/results/optimization/aqua_b_data_1000_sample_2000
/results/optimization/aqua_b_data_1000_sample_20000
/results/data
/results/example_basic/aqua_b_data_1000_sample_20000
/results/example_basic/rect_prism_data_1000_sample_10000/drag_f
/results/optimization/rect_prism_data_1000_sample_10000
/training_curves.png
